@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Kanit&family=Manrope:wght@300&family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    font-family: Roboto Mono;
   
}
body {
    margin: 0;
    background: linear-gradient(to right,#FFFBF5,#B0A695);
    
   
  }
.bg-dark1{
  background-color: #f7f6f6;
  opacity: .9;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  

  .head{
    overflow: hidden;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .main {
    padding: 16px;
   
   
  }
  .content{
    height: 500px;
  }

  .content1{
    height: 700px;
  }

  .mt{
    margin-top: 30px;
  }

  .i{
    font-size: 40px;
  }

  





  
  